@import "mixins";
@import "extends";
@import "oferta__menu";
@import "oferta__content";


body {
	@extend .open-sans;
}

header {
	.contact {
		font-weight: 300;
		font-size: 0.9rem;
		@include sm {
				font-size: 1.1rem;
			}
		.fa-facebook-f, .fa-map-marker-alt, .fa-phone  {
			margin-right: 10px;
			color: $grey;

			a {
				color: $grey;	
				&:hover {
					color: $grey;
				}
			}		
		}
		#fb-none {
			@include sm {
				display: none;
			}
		}
	}
}

.bold {
	font-weight: 700;
}


.title {
		text-align: left;
	h3 {
		font-size: 2rem;
	}
	h6 {
		@extend .roboto;
		font-weight: 100;
		font-size: 1.1rem;
		padding-top: 5px;
	}
	span {
		font-weight: 400;
		font-size: 0.87rem;
		line-height: 2rem;
	}
	.underline {
		max-width:10%;
		display: block;
		padding-bottom: 30px;
		padding-top: 10px;
		@include md {
			max-width: 25%;
		}
	}
}

h1, h2, h3, h4, h5, h6, p, span {
	@extend .open-sans;
	color: $grey;
}
h6 {
	line-height:1.6rem;
}
.btn {
	border-radius: 0;
	cursor:pointer;
}

.btn-secondary {
	color: $blue-color;
	background-color: white!important;
	&:hover {
		color: $blue-color;
		background-color: $grey-very-light!important;
	}
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

.rwd {
  display: block;
  width: 100%;
  height: auto; 
}

.sub__header {		
	.header__bg {
		max-height: 400px;
		position: relative;
	}
}

.line {
	height:3px;
	background-color: $blue-color;
}


.navbar {
	@extend .roboto;
	.navbar-collapse	{
		ul {
			li {
				padding-left: 50px !important;
				@include md {
					padding-left: 40px!important;
					padding-top: 30px;
				}
				&:last-child {
						@include md {
							padding-right: 10px;
						}
					}
				a {
					text-decoration: none;
					color: $grey !important;
					font-size: 1rem;
					font-weight: 400;

					&:hover {
						border-bottom: solid 2px $blue-color;
					    display: inline-block;
					    padding-bottom: 3px;
					}
				}
			}
		}
	}
	.active {
	border-bottom: solid 2px $blue-color;
    display: inline-block;
    padding-bottom: 3px;
}

}

/* Navbar */
.navbar {
	top: 10px;
	padding-bottom: 30px;
    padding-right: .5rem;
    margin-top: -15px;
    &-brand {
    	img {
    		width: 170px;
    		margin-top: -15px;
    		@include md {
    			margin-top: 10px;
    		}
    	}
    	padding-top: 0rem;
    	@include xs {
    		padding-right: 150px;
    	}
    
    }
}

.bg-faded {
    background-color: transparent;
        text-align: left;
    .navbar-toggler-right {
		margin-top: 15px;
	}
}
/* //Navbar */

/* Carousel */
// Bootstrap
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px !important;
	height: 50px !important;

}

.carousel-control-next, .carousel-control-prev {
	opacity: 0.8;
	@include md {
		display: none;
	}
}

.carousel-indicators {
	@include md {
		display: none;
	}
}

.btn-secondary {
	background-color: transparent;
}
// Bootstrap-end

.carousel-caption {
	color: $grey;
	text-align: left;
	max-width: 400px;
	margin-left: 560px;
	margin-bottom: 100px;
	.btn {
		color: $grey;
	}
	@include xl {
		margin-left: 460px;
		margin-bottom: 40px;	
	}
	@include lg {
		margin-left: 350px;
		margin-bottom: 10px;	
	}
		
	@include md {
		margin-left: 260px;
		margin-bottom: 25px;	
	}
	@include sm {
		margin-left: 230px;
		margin-bottom: 15px;	
	}
	p {
		font-size: 0.7rem;
		line-height: 2;
		@include md {
			display: none;
		}
	}
	h3 {
		font-size: 2.5rem;
		padding-bottom: 15px;
		@include md {
			padding-bottom: 1px;			
		}
	}
	h5 {
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 0.4;
	}
	@include md {
		display: none;
	}
	&--mobile { // Text on __bottom of slider
		display: none;
		@include sm {
			display: block;
			text-align: left;
			padding-left: 50px;
		}
		@include ss {
			display: block;
			text-align: left;
			padding-left: 20px;
		}
		p {
			display: none;
		}
		h3 {
			font-size: 2.5rem;
			padding-bottom: 15px;
			@include md {
				padding-bottom: 1px;

			}
		}
		h5 {
			padding-top: 15px;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 0.4;
			line-height: 1.3;
		}
		.btn {
			margin-bottom: 25px;
			width: 50%;
			text-align: center;
			padding: 20px 0;
			@include ss {
				width: 80%;
			}
		}
	}
}

	#standard {
		@include sm {
			display: none;
		}
	}
	#mobile {
		display: none;
		@include sm {
			display: block;
		}
	}

/* //Carousel */

/* faceboock-card */
.facebook-card {
	position: fixed;
	right:0;
	top: 150px;
	z-index: 99;
	@include sm {
		top: 180px;
	}
	img {
		height: 100px;
		@include sm {
			height: 130px;
		}
	}

}
/* //faceboock-card */


/* Submenu */
.submenu {
	.xxx {
		    overflow: hidden;
	}
	a {
		background-color: $blue-color;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			background-color: $blue-dark;
			 transition: all 0.3s ease 0s;
		}
	}
	&__box {
		padding: 20px 60px 60px 20px;
		text-decoration: none;
		padding-bottom: 80px;
		font-family: FontAwesome;
		content: "\f087";
		    text-align: left;
		.btn {
			position: absolute;
			right: 40px;
			bottom: 30px;
			cursor:pointer;
			@include sm {
				display: none;
			}
		}
		h2 {
			@extend .roboto;
			color: white;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 2.3rem;
			text-align: left;
			@include md {
				text-align: none;
				font-size: 1.9rem;
			}	
			@include sm {
				text-align: center;
			}	
		}
		span {
			@extend .roboto;
			color: white;
			font-weight: 100;
			font-style: italic;
			font-size: 0.8rem;
			float: left;
			padding-top: 20px;
			padding-bottom: 100px;
			padding-right: 160px;
			@include lg {
				padding-right: 100px;
				padding-bottom: 40px;
			}
			@include md {
				padding-right: 120px;
			}
			@include sm {
				display: none;
			}
		}
		@include md {
			padding-right: 5px;	
		}		
		@include sm {
			padding-bottom: 30px;
			text-align: center;
		}		
	}
}

.fa-eye, .fa-low-vision, .fa-bullseye{
	color: white;
	font-size: 2rem;
	float: left;
	margin-right: 10px;
	@include lg {
		float: none;
		margin-bottom: 15px;
		font-size: 2.5rem;
	}		
}

// background-icons
.fa-eye-background {
	.fa-eye {
		position: absolute;
		right: -120px;
		top: -40px;
		font-size: 18rem;
		opacity: 0.1;
		@include sm {
			display: none;
		}
	}
}

.fa-low-vision-background {
	.fa-low-vision {
		position: absolute;
		right: -120px;
		top: -40px;
		font-size: 18rem;
		opacity: 0.1;
		@include sm {
			display: none;
		}
	}
}

.fa-bullseye-background {
	overflow: hidden;
	.fa-bullseye {
		position: absolute;
		right: -80px;
		top: -60px;
		font-size: 18rem;
		opacity: 0.1;
		@include sm {
			display: none;
		}
	}
}
/* //Submenu */


/* Info */
.info {
	padding-top: 60px;
	padding-bottom: 100px;
	&__txt {
		padding-right: 40px;

	}
	&__img {
		width: 80%;
	}
}
/* //Info */

/* Offer */
.offer {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: $grey-very-light;
	&__wrapper {
		padding-bottom: 90px;
	}
	&__types { 
		padding-top: 30px;
		padding-right:40px;
		padding-left: 40px;
		.box {
			@include md {
				padding-top: 40px;
			}
		}
		span {
			position: absolute;
			background-color: $blue-color;
			padding:20px 65px 20px 10px;
			text-transform: uppercase;
			color: white;
			font-size: 1.1rem;
			bottom: 0;
			font-weight: 400;
			@include md {
				width: calc(100% - 30px);
				font-size: 1.5rem;
			}
		}
	}
	&__more {
		margin: auto;
		padding-top: 35px;
		span {
			@extend .roboto;
			font-size: 1.2rem;
			font-weight: 300;
			padding-top:3px;
			@include sm { 
				text-align: center;
				width: 100%;
				font-size: 1.6rem;
				padding-bottom: 20px;
			}
		}
		.btn-secondary {
			margin-left: 20px;
			background-color: white!important;
			color: $grey;
			&:hover {
				background-color: $grey-very-light!important;
			}
			@include sm {
				width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;
				font-size: 1.5rem;
			}
		}
	}
}


/* //Offer */


/* Paralax-bar */
.info-bar {
	span{
		@extend .dancing-script;
		color: white;
		position: absolute;
		margin: auto;
		width: 100%;
		text-align: center;
		top: 25%;
		font-size: 2rem;
	}
	img {
		width: 100%;
	}
	@include lg {
		display: none;
	}
}

// .paralax {
// 	background-image: url('/images/bg.jpg');
//     height: 200px; 
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
/* //Paralax-bar */


/* Contakct-bar */
.contact-bar {
	background-color: $blue-color;
	padding: 28px 0px;
	&__txt {
		text-align:center;
		.fa-clock, .fa-map-marker, .fa-phone{
			color: white!important;
			font-size: 2.3rem;
			position: absolute;
			left: 90px;
			top: 15px;
			@include lg {
				left: 60px;
			}
			@include md {
				left: 15px;
			}
			@include sm {
				position: relative;
				top: 0;
				left: 0;
				margin-top: 25px;
				margin-bottom: 10px;
			}
		}
		span {
			display: block;
			@extend .roboto;
			font-weight: 100;
			font-style: italic;
			color: white;
			font-size: 1.3rem;
			margin-left: 20px;
		}
	}
}
#valign-center {
	padding-top: 15px;
	@include sm {
		padding-top: 0px;
	}
}

.btn-start {
	width: 100%;
	z-index: 10;
	margin: 0 auto;
	position: absolute;
	img {
		width: 80px;
	}
}
/* //Contakct-bar */

/* Footer */
.footer {
	background-color: $grey;
	padding: 20px 0;
	@include sm {
		text-align: center;
	}
	&__logo {
		padding-top: 10px;
	}
	nav {
		text-decoration: none;
		padding-top: 15px;
		ul {
			a {
				color: white;
				&:hover {
					color: $grey-very-light;
				}
				&:visited {
					color: white;
				}
				li {
					float: left;
					padding-left: 20px;
					list-style-type: none;
					font-weight: 100;
					text-transform: uppercase;
				}
			}	
		}
		@include sm {
			padding-top: 20px;
			margin-left: 50px;
		}
		@include xs {
			margin-left: 20px;
		}
		@include ss {
			margin-left: -10px;
		}
	}
	span {
		color: white;
		font-size: 0.8rem;
	}

	.social {
		
	}
	.fa-facebook {
		color: white;
		font-size: 2rem;
		margin-left: 15px;
		@include sm {
			margin-top: 20px;
		}	
	}
}

//copyright
.copyright {
	background-color: white;
	font-size: 0.8rem;
	padding: 5px 0;
}
/* //Footer */




// Hover-efect
.opacity:hover {
	opacity: 0.75;
	transition: opacity .3s ease-out;
}

// Carousel-End 

.test {
	display: flex; 
}

/* Cennik */

.cennik {
	z-index:2;
	padding: 50px 0px 130px 0px;
	p {
		padding-bottom: 15px;
	}

}

table {
	width: 100%;
	tr:nth-of-type(2n) {
    background: #eaf0f4;
	}

	th {
		font-size: 18px;
		background: #00508b;
    	color: #fff;
    	padding:10px;
    	font-weight: 400;
	}
	td {
	    padding: 10px;
	    text-align: left;
	    font-size: 14px;
	    &:last-child {
	    	text-align: right;
    	}
	}
}

.kontakt {
	p {
		font-size: 1.2rem;
	}
	span {
		font-size: 1.3rem;
		margin-left: 15px;
		padding-top: 15px;
	}
	&-info {
		padding-bottom:10px;
		&-row {
			padding-top: 45px;
			span {
				display: inline-block;
			}
		}
	}
	.svg-inline--fa {
		font-size: 2.7rem;
		color: $grey;
		margin-right: 30px;
	}
}


.btn,
button {
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  @media (min-width: 400px) {
    width: auto;
  }
}

.btn-arrow {
  	position: relative;
    transition: background-color 300ms ease-out;
  span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
   
  }
  &:hover span {
    transform: translate3d(-1rem, 0, 0);
  }
  svg {
    position: absolute;
    width: 1.9em;
    right: 0px;
    right: 0rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
    * {
      stroke-width: 5;
      stroke-color: transparent;
    }
  }
  &:hover svg {
    opacity: 1;
    right: -2rem;
  }
}