@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700");
.roboto {
  font-family: 'Roboto', sans-serif; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }
